.card {
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: var(--element-bg-color);
  box-shadow: 0px 0px 5px -2px var(--shadow-color);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 150ms ease-in;
}

.card:hover {
  box-shadow: 0 0 0 0.25rem;
}

.card a:focus {
  text-decoration: underline;
}

.card:focus-within {
  box-shadow: 0 0 0 0.25rem;
  outline: 2px solid transparent;
}

.card:focus-within a:focus {
  text-decoration: none;
}

.card h2 a:focus {
  text-decoration: underline;
}

.card .card-copy {
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card a::after {
  content: "";
  position: absolute;
  inset: 0;
}

.card .image {
  order: -1;
  height: 200px;
}
.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
