.filter-block {
  position: relative;
  --p-block: 0.5rem;
  --p-inline: 0.5rem;
  padding-block: var(--p-block);
  padding-inline: var(--p-inline);
  background-color: var(--dark-mode-elements);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 25px -2px var(--blue-200);
  outline: 1px solid transparent;
  transition: border 150ms ease-in;
}

.filter-block select {
  padding-inline: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--dark-mode-elements);
}

.filter-block select::after {
  content: "";
  position: absolute;
  inset: 0;
}

.filter-block:focus-within {
  border: 2px solid var(--blue-100);
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  .filter-block,
  .filter-block select {
    background-color: var(--input-color);
  }

  .filter-block {
    box-shadow: 0px 0px 5px -2px var(--gray-200);
  }
}
