.theme-toggle {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  border-color: transparent;
  box-shadow: none;
  font-weight: var(--bold-200);
}

.theme-toggle span {
  font-size: 1.2rem;
}

.theme-toggle i {
  transform: rotateZ(-30deg);
}
